################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SRMS/SRMS/DLLs/DBLayer (1).dll
